<nav id="navbar-main" class="navbar bg-primary navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
      <a class="navbar-brand mr-lg-5" [routerLink]="['']">
        Автошкола+
      </a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a [routerLink]="['/home']">
                <span class="h5">Автошкола+</span>
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" routerLink="">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Головна</span>
          </a>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" routerLink="packages">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Пропозиції</span>
          </a>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" routerLink="packages">
            <i class="fa fa-shopping-cart"><span class="ml-1">1</span></i>
          </a>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Components</span>
            </a>
            <div class="dropdown-menu-xl dropdown-menu" >
              <div class="dropdown-menu-inner">
                <a routerLinkActive="active" [routerLink]="['documentation/tutorial']" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                    <i class="ni ni-spaceship"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Getting started</h6>
                    <p class="description d-none d-md-inline-block mb-0">Learn how to use Argon compiling Scss, change brand colors and more.</p>
                  </div>
                </a>
                <a routerLinkActive="active" [routerLink]="['documentation/colors']" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-palette"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Foundation</h6>
                    <p class="description d-none d-md-inline-block mb-0">Learn more about colors, typography, icons and the grid system we used for Argon.</p>
                  </div>
                </a>
                <a routerLinkActive="active" [routerLink]="['documentation/alerts']" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-ui-04"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h5 class="heading text-warning mb-md-1">Components</h5>
                    <p class="description d-none d-md-inline-block mb-0">Browse our 50 beautiful handcrafted components offered in the Free version.</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown mr-lg-5">
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Examples</span>
            </a>
            <div class="dropdown-menu">
              <a [routerLink]="['/landing']" class="dropdown-item">Landing</a>
              <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
              <a [routerLink]="['/login']" class="dropdown-item">Login</a>
              <a [routerLink]="['/register']" class="dropdown-item">Register</a>
            </div>
          </li> -->
          <a *ngIf="!isLoggedIn" [routerLink]="['signin']" class="nav-link no-caret text-primary d-lg-none">
            <span class="btn-inner--icon text-primary">
              <i class="fa fa-hand-o-right"></i>
            </span>
            <span class="nav-link-inner--text text-primary">Особистий кабінет</span>
          </a>
        </ul>
        <ul  class="navbar-nav align-items-lg-center ml-lg-auto">
          <li *ngIf="!isLoggedIn" class="nav-item d-none d-lg-block ml-lg-4">
            <a  [routerLink]="['signin']"  class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <i class="fa fa-hand-o-right mr-2"></i>
              </span>
              <span class="nav-link-inner--text">Особистий кабінет1</span>
            </a>
          </li>
        </ul>
        <div  (click)="logout()" *ngIf="isLoggedIn"><a class="text-light link-light">{{ username }}</a></div>
      </div>
    </div>
  </nav>
  