    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Замовлення</div>
    <div class="p-4">
      <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
      <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Сума замовлення</strong><strong>{{ totalPrice }} грн</strong></li>
        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Налог</strong><strong>0 грн</strong></li>
        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Всього</strong>
          <h5 class="font-weight-bold">{{ totalPrice }} грн</h5>
        </li>
      </ul><a  (click)="checkout()" class="btn btn-dark rounded-pill py-2 btn-block">Сплатити</a>
    </div>
