<div class="container">
    <div class="wrapper-1">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Час</th>
            <th scope="col">24.04</th>
            <th scope="col">25.04</th>
            <th scope="col">26.04</th>
            <th scope="col">27.04</th>
            <th scope="col">28.04</th>
            <th scope="col">29.04</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
     </div>
</div>
